<h1>Acerca de</h1>

<div>
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Descripcion del proyecto</a></li>
  <li><a href="#">Objetivos</a></li>
  <li><a href="#">Desarrolladores</a></li>
</div></ul>



<br><p>&#161;Bienvenido a compara seguros!</p></br>

<br><p>&#161;Este proyecto es hecho para crear el mejor comparador de seguros de autos en el cual visualices muchas opciones y decidas la opci&#243;n que m&#225;s se ajusten a tus recursos econ&#243;micos. Como tambi&#233;n es importante saber el plan de pagos y que compa&#241;&#237;a de seguros tienen descuentos para que se ajusten a tu econom&#237;a, en si el proyecto ser&#225; algo r&#225;pido y f&#225;cil, que pueda adaptarse al p&#250;blico que busque la mejor opci&#243;n de como segurar sus coches.</br>

-----------------------------------------------------------
<br><p>&#161;Bienvenido a compara seguros!</p>

<p>&#8226;  &#161;Nuestro principal objetivo es ofrecerte una amplia gama de presupuestos cotizados por nuestra p&#225;gina web, el cual te dar&#225;n las ventajas y desventajas de cada aseguradora.
Como tambi&#233;n! </p>

<p>&#8226;  &#161;Uno de nuestros objetivos ser&#225; buscar los costos y los plazos de pagos, para que en el menor tiempo posible se obtenga muchas opciones para comparas los precios y decidir el que m&#225;s se adapte a tus recursos econ&#243;micos.!</p>

<p>&#8226;  &#161;Una de las caracter&#237;sticas de nuestro comparador de seguros de autos, es ofrecer un resultado mediante un procedimiento f&#225;cil y auto ajustable al usuario.!</p></br>
---------------------------------------

<h2>contactanos</h2>

<address>
  <strong>Utem.</strong><br>
  Santa Carolina<br>
  Manzanillo, Col 28860<br>
  <abbr title="Phone">Telefono</abbr> (+52) 314-11-8-35-44
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">a20130144@utem.edu.mx</a>
</address>



</body>
</html>