
<<<<<<< HEAD
<head>
<h1>Acerca de</h1>
<hr width="80%" size="5" />


	<section  id="p1">
		<h4> Descripcion del proyecto</h4> </a>
		<p> 
=======
<<<<<<< HEAD
<div>
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Descripción del proyecto</a></li>
  <li><a href="#">Objetivos</a></li>
  <li><a href="#">Desarrolladores</a></li>
</div></ul>
=======
<main id="menu">
	<section id="p1">
		<a href="#p1"><h4> Descripcion del proyecto</h4> </a>
		<p>
>>>>>>> 3bc840bef43644e0f08906f20890e64e8879fb4b
		Este proyecto es hecho para crear el mejor comparador de seguros de autos en el cual visualices muchas opciones y decidas la opción que más se ajusten a tus recursos económicos. <br>
		Como también es importante saber el plan de pagos y que compañía de seguros tienen descuentos para que se ajusten a tu economía, en si el proyecto será algo rápido y fácil, que pueda adaptarse al público que busque la mejor opción de como segurar sus coches.
>>>>>>> 2d6f73672e12db650ac9031012945ba233f5455b

		</p>		
	</section>

	<section id="p2">
		<h4> Objetivos</h4> </a>
		<p>
		&#8226;  ¡Nuestro principal objetivo es ofrecerte una amplia gama de presupuestos cotizados por nuestra página web, el cual te darán las ventajas y desventajas de cada aseguradora!<br> 
		&#8226; ¡Uno de nuestros objetivos será buscar los costos y los plazos de pagos, para que en el menor tiempo posible se obtenga muchas opciones para comparas los precios y decidir el que más se adapte a tus recursos económicos!<br>
		&#8226;¡Una de las características de nuestro comparador de seguros de autos, es ofrecer un resultado mediante un procedimiento fácil y auto ajustable al usuario!<br>	
		</p>		
	</section>


<main id="menu-acerca" >
	<section id="p3">
		<a href="#p3"><h4>Desarrolladores</h4> </a>


			<div id="columna1">
			
			<p>
				<%= link_to image_tag('paco.jpg', :alt => 'paco', :class =>'foto1') %> 
 			<strong>Francisco Javier Alcaraz Salazar</strong><br>
  			Santa Carolina<br>
  			Manzanillo, Col 28860<br>
  			<abbr title="Phone">Telefono</abbr> (+52) 314-11-8-35-44<br>	
  			<strong>Correo:</strong>
  			<a href="mailto:#">a20130144@utem.edu.mx</a>
	   		</p>	
	   		</div>

	  		<div id="columna2">
	   		<p>
			<%= link_to image_tag('alvaro.jpg', :alt => 'alvaro', :class =>'foto1') %> 
 			<strong>Alvaro Javier Arzate Ayala</strong><br>
  			Santa Carolina<br>
  			Manzanillo, Col 28860<br>
  			<abbr title="Phone">Telefono</abbr> (+52) 314-11-8-35-44<br>	
  			<strong>Correo:</strong>
  			<a href="mailto:#">a20130527@utem.edu.mx</a>
	  		</p>
			</div>

			<div id="columna3">
	   		<p>
	   		<%= link_to image_tag('pollo.jpg', :alt => 'pollo', :class =>'foto1') %> 
		
 			<strong>Francisco Javier Aceves Arreguin</strong><br>
  			Santa Carolina<br>
  			Manzanillo, Col 28860<br>
  			<abbr title="Phone">Telefono</abbr> (+52) 314-11-8-35-44<br>	
  			<strong>Correo:</strong>
  			<a href="mailto:#">a20130528@utem.edu.mx</a>
	  		</p>
			</div>

			<div id="columna4">
	   		<p>
	   		<%= link_to image_tag('josue.jpg', :alt => 'josue', :class =>'foto1') %> 
		
 			<strong>Josue Arturo Estrada Contreras</strong><br>
  			Santa Carolina<br>
  			Manzanillo, Col 28860<br>
  			<abbr title="Phone">Telefono</abbr> (+52) 314-11-8-35-44<br>	
  			<strong>Correo:</strong>
  			<a href="mailto:#">a20120884@utem.edu.mx</a>
	  		</p>
			</div>







	</section>
	
      
</main>

  
 <footer class="footer" >        
        <p>Copyright © 2016 DesigningMedia Theme All Rights Reserved.</p>
 </footer>
 



</head>





