<h2>Acerca de</h2>
<hr width="80%" size="5"/>

<div>
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Descripción del proyecto</a></li>
  <li><a href="#">Objetivos</a></li>
  <li><a href="#">Desarrolladores</a></li>
</div></ul>

<main id="menu">
	<section id="p1">
		<a href="#p1"><h4> Descripcion del proyecto</h4> </a>
		<p>
		Este proyecto es hecho para crear el mejor comparador de seguros de autos en el cual visualices muchas opciones y decidas la opción que más se ajusten a tus recursos económicos. <br>
		Como también es importante saber el plan de pagos y que compañía de seguros tienen descuentos para que se ajusten a tu economía, en si el proyecto será algo rápido y fácil, que pueda adaptarse al público que busque la mejor opción de como segurar sus coches.

		</p>		
	</section>

	<section id="p2">
		<a href="#p2"><h4> Objetivos</h4> </a>
		<p>
		&#8226;  ¡Nuestro principal objetivo es ofrecerte una amplia gama de presupuestos cotizados por nuestra página web, el cual te darán las ventajas y desventajas de cada aseguradora!<br> 
		&#8226; ¡Uno de nuestros objetivos será buscar los costos y los plazos de pagos, para que en el menor tiempo posible se obtenga muchas opciones para comparas los precios y decidir el que más se adapte a tus recursos económicos!<br>
		&#8226;¡Una de las características de nuestro comparador de seguros de autos, es ofrecer un resultado mediante un procedimiento fácil y auto ajustable al usuario!<br>	
		</p>		
	</section>



	<section id="p3">
		<a href="#p3"><h4>Desarrolladores</h4> </a>
		<p>
		
 	<strong>Utem.</strong><br>
  	Santa Carolina<br>
  	Manzanillo, Col 28860<br>
  	<abbr title="Phone">Telefono</abbr> (+52) 314-11-8-35-44
	

	
  	<strong>Full Name</strong><br>
  	<a href="mailto:#">a20130144@utem.edu.mx</a>
	
		</p>		
	</section>
	

</main>

<li> <%= link_to 'Index', root_path %> </li>





