
<img id="imgencabezado" src="img\imagen1.png">

<h2>Preguntas Frecuentes</h2>
<hr width="80%" size="5"/>

<main id="menu">
	<section id="p1">
		<a href="#p1"><h4> Cinco razones para tener un seguro de auto</h4> </a>
		<p>
		1. Defensa jurídica y asesoría legal <br>
		2. Aseguras asistencia médica <br>
		3. Cuentas con asistencia vial <br>
		4. Proteges tu patrimonio <br>
		5. Tienes un respaldo <br>
		</p>		
	</section>
	<section id="p2">
		<a href="#p2"><h4> ¿Qué es SeguroCompara?</h4> </a>
		<p>
		&#8226;  ¡Nuestro principal objetivo es ofrecerte una amplia gama de presupuestos cotizados por nuestra página web, el cual te darán las ventajas y desventajas de cada aseguradora!<br> 
		&#8226; ¡Uno de nuestros objetivos será buscar los costos y los plazos de pagos, para que en el menor tiempo posible se obtenga muchas opciones para comparas los precios y decidir el que más se adapte a tus recursos económicos!<br>
		&#8226;¡Una de las características de nuestro comparador de seguros de autos, es ofrecer un resultado mediante un procedimiento fácil y auto ajustable al usuario!<br>	
		</p>		
	</section>
	<section id="p3">
		<a href="#p3"><h4>¿Porque la consulta de seguros me muestra 2 resultados?</h4> </a>
		<p>
		Al no ser usuario premium el sistema esta limitado a mostrar la informacion <br>
		de solo 2 aseguradoras y restringe el acceso a los filtros de busqueda.
		</p>		
	</section>
	<section id="p4">
		<a href="#p4"><h4>¿Que beneficios tiene la Membresia Premium de SeguroCompara?</h4> </a>
		<p>
		Con la Membresia Premium de SeguroCompara, tienes acceso libre a consultas en todas <br>
		las aseguradoras de tu region en una sola busqueda, tambien podras usar <br>
		los filtros de busqueda rapida, para no tener que volver a generar <br>
		una busqueda nueva.
		</p>		
	</section>
</main>