<div id="columna1">
	<hr size="10">
    	<form>
    		Nombres<br>
			<input type="text" placeholder="Juan">
			<br>
			<br>
			Apellidos <br>
			<input type="text" placeholder="Sanchez">
			<br>
			<br>
			Fecha de nacimiento <br>
			<input  type="date" name="fecha" max="1979-12-31" min="1992-12-31" placeholder="aaaa-mm-dd">
			<br>
			<br>
			Correo electrónico <br>
			<input type="text" placeholder="ejemplo@correo.com">
			<br>
			<br>
			Contraseña <br>
			<input type="password" placeholder="contraseña">
			<br>
			<br>
			<input class="btn btn-default" type="submit" value="REGISTARSE">
  		</form>
	<hr>
</div>

<!-- <div id="columna1">
<hr size="10">
<hr>
</div> -->



<div id="columna2">
	<hr>
	<h1>!Vuelve te premium hoy mismo! <br>
	!En un solo pago!</h1>
	<img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/btn_13.png" alt="undefined" />
	<br>
	<img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/bnr_loading1.gif" alt="Check out with PayPal" />

</div>