<div id="columna1">
<hr size="10">
    	<form>
    		Nombres<br>
			<input type="text" >
			<br>
			<br>
			Apellidos <br>
			<input type="text" >
			<br>
			<br>
			Fecha de nacimiento <br>
			<input type="date">
			<br>
			<br>
			Correo electrónico <br>
			<input type="text" >
			<br>
			<br>
			Contraseña <br>
			<input type="password" >
			<br>
			<br>
			<input class="btn btn-default" type="submit" value="REGISTARSE">
  	</form>

<hr>
</div>


<div id="columna2">
<hr>
<h1>Vuelvete premium Hoy mismo! <br></h1>
<br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BLLAV5KCZEZKY">
<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>

<br>
<!--<img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/bnr_loading1.gif" alt="Check out with PayPal" /> -->

</div>