<div id="columna1">
<hr size="10">
    	<form>
    		Nombres<br>
			<input type="text" >
			<br>
			<br>
			Apellidos <br>
			<input type="text" >
			<br>
			<br>
			Fecha de nacimiento <br>
			<input type="date">
			<br>
			<br>
			Correo electrónico <br>
			<input type="text" >
			<br>
			<br>
			Contraseña <br>
			<input type="text" >
			<br>
			<br>
			<input class="btn btn-default" type="submit" value="REGISTARSE">
  	</form>

<hr>
</div>


<div id="columna2">
<hr>
<h1>!Vuelve te premium hoy mismo! <br>
!En un solo pago!</h1>
<img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/btn_13.png" alt="undefined" />
<br>
<img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/bnr_loading1.gif" alt="Check out with PayPal" />

</div>