#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons{
    margin:12px 0    
}

#login-dp .social-buttons a{
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media(max-width:768px){
    #login-dp{
    background-color: inherit;
    color: #fff;
}
}

#login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
}



//CSS de la pagina Ayuda 

body{
    background-color: #F2F2F2;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

#imgencabezado {
    width: 100%;
    height: 200px;
}

#menu section p{
    display: none;
}

#menu section a {
    text-align: center;
    color: grey;
    text-decoration: none;
}

#menu section a:hover {
    text-decoration: underline;
}

#menu section:target p {
    display: block;
}



//CSS para las columnas 

#columna1{
padding: 10px;
float: left;
width: 25%;
height: 70%;
text-align: center;
}

#columna2 {
padding: 10px; 
float: right; 
width: 25%; 
text-align: center;
}

#columna3 {
padding: 10px; 
float: right; 
width: 25%; 
text-align: center;
}

#columna4 {
padding: 10px; 
float: right; 
width: 25%; 
text-align: center;
}


///// CSS DE ACERCA DE

.footer{

    background:#000000;
    padding:20px;
    overflow:hidden;
    text-align:center;
    color:#fff;
}
#menu-acerca section p{
    display: none;
}

#menu-acerca section a {
    text-align: center;
    color: blue;
    text-decoration: none;
}

#menu-acerca section a:hover {
    text-decoration: underline;
}

#menu-acerca section:target p {
    display: block;
}

.foto1{
    height:20%; 
    width:25%;
}


